.about-me {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 150px;
}

.about-me h2{
    font-size: 50px;
    color: #fbca0c;
    text-align: center;
}

.about-text {
    color: #171731;
    background-color: #888490;
    padding: 20px;
    border-radius: 5px;
}