.header{
   background-color: #171731; 
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.header-home {
    display: flex;
    text-decoration: none;
    color: #fbca0c;
}

.header-logo{
    height: 100px;
}

.nav-bar {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d4cde0;
}

.nav-links {
    margin-left: 10px;
    list-style: none;
    padding: 10px;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: #d4cde0;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-bar a {
    color: #d4cde0;
    transition: color 0.3s ease;
}

a:hover {
    color: #f7ff8a;
    transition: color 0.3s ease;
}

.nav-bar a :hover {
    color: #f7ff8a;
    transition: color 0.3s ease;
}

@media screen and (max-width: 698px) {
    header {
        flex-direction: column;
    }

    .nav-bar {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        color: #fff;
        
    }
    
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links a {
        padding: 10px;
    }
}

