.project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.project-list h2{
    font-size: 50px;
    color: #fbca0c;
    display: block;
}
  
.project-item {
    background-color: #888490;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 500px;
}
  
.project-item h3 {
    color: #333;
}
  
.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
  
.project-item a {
    color: #fff;
    background-color: #3e1a79;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
  
.project-item a:hover {
    background-color: #5c3698;
}
  